body{
    background: #e2e2e2 !important;
}
.bg-primary{
    background: #009688 !important;
}
.banner{
    width: 100%;
    height: 93vh;
    background:  url(../img/smart.jpg),linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    background-size: cover;
    color: black;


}
.my-card{
    padding: 20px;
    background:#FFFFFF;
}